#hd1 {
    color: blue;
}
#hd2 {
    text-align: center;
    background-color: #FECFFD;
    color: #FF3399;
}
#d1 {
    background-color: #FFFFCC;
}
#p1 {
    color: #0000FF;
    text-align: center;
}
#p2 {
    color: #FF3399;
    text-align: center;
}
#p3 {
    color: #006600;
    text-align: center;
}
hr {
    text-align: center;
    width: 16%;
}