#body {
    background-image: url("background/backgound.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(0, 0, 0, 0.5);
}

#header {
    background-image: url("background/UI_Bg_Activity_WindField.png");
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(0, 0, 0, 0.5);
    height: 60px;
}

.p1 {
    text-align: center;
    display: inline;
    font-size: 150%;
    margin-right: 5%;
}
.main-page {
    color: white;
    display: inline;
    font-size: 130%;
}