#body {
    background-image: url("background/backgound.jpg");
    background-size: 100%;
    background-blend-mode: color;
    background-color: rgb(0, 0, 0, 0.7);
    background-attachment:fixed;
}
#br {
    margin-top: -1%;
}
.p1 {
    text-align: center;
    display: inline;
    font-size: 150%;
}
#p {
    font-size: 120%;
    font-weight: bolder;
    text-align: center;
}
#div-popular {
    margin-top: 3%;
}
#name-char {
    font-size: 125%;
    text-align: center;
    font-weight: bolder;
}
#des {
    font-size: 120%;
    text-align: center;
}
img {
    margin-top: -1%;
    width: 6%;
    height: auto;
    display: flex;
    justify-content: center;
}
#title {
    font-size: 140%;
    font-weight: bold;
    margin-top: 6%;
}
.main-page {
    color: white;
    display: inline;
    font-size: 130%;
}
.box {
    height: 55%;
}
#character {
    width: 100%;
}
#bg {
    height: 120%;
}
.box-des {
    height: 32%;
}
#footer {
    margin-top: 4%;
}
.box-item {
    height:400px;
}


#footer img {
    padding-top: 25px;
    width: 10%;
}
.text-footer {
    font-size: 70%;
    color: #8c8c8c;
    margin-top: 25px;
    margin-bottom: 20px;
}
#footer a {
    color: #bbbbbb;
    font-size: 70%;
}
#footer a:hover {
    text-decoration: underline;
}