#button-1 {
    margin-left: 15%;
    margin-top: 1%;
}
#button-2 {
    margin-top: 2%;
}
#shop {
    margin-top: 20%;
    margin-left: -50%;
    height: 35px;
    width: 60px;
}
#search {
    background-color: #8c8c8c;
}
#search img {
    text-align: center;
    width: 90%;
}
#header input {
    width: 280px;
}
#main h6 {
    line-height: 50px;
}
#main-1 img {
    width: 100%;
}
#main-1 {
    margin-top: -2%;
    margin-bottom: 2%;
}
#up {
    height: 35px;
    width: 35px;
    background-color: #8c8c8c;
    margin-left: -80%;
}
#down {
    height: 35px;
    width: 35px;
    background-color: #8c8c8c;
}
#soluong {
    text-align: center;
    width: 70%;
    margin-left: 30%;
    height: 35px;
}

/*Footer*/
#footer img {
    padding-top: 25px;
    width: 10%;
}
.text-footer {
    font-size: 70%;
    color: #8c8c8c;
    margin-top: 25px;
    margin-bottom: 20px;
}
#footer a {
    color: #bbbbbb;
    font-size: 70%;
}
#footer a:hover {
    text-decoration: underline;
}